html, html *{ font-family: verdana }
body{
  background-color:  #7159c1;

  background-repeat: no-repeat;
}
.principal {
    width: 500px;
    height: 600px;
    /* border: 2px solid blue; */
    border-radius: 20px;
    position:fixed;
    left:0; 
    right:0;
    top:0; 
    bottom:0;
    margin:auto;
    background-color: #ffffff;
    
}
.titulo{
    border-bottom: solid 2px #7159c1;
    text-align: center;
    
}
.titulo-conteudo{
    padding-left: 10px;
}
.container-chat{

    width: auto;
    height: 80%;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    overflow-y: auto;
    overflow-x: hidden;
   
    
}
.comandos{
    margin-top: 10px;
    margin-left: 10px;   
    margin-right: 10px;
    

}
#campo-mensagem{
    width: 75%;
    padding-top: 7px;
    padding-bottom: 7px ;
    margin-right: 10px;
    border: 2px solid #7159c1;
    border-radius: 4px;

}
#botao-enviar{
    width: 85px;
    display: inline-block;
    padding: 8px 12px;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #7159c1;
    border: none;
    border-radius: 5px;
    box-shadow: 0 3px #999;
}
#botao-enviar:hover {background-color: #3e8e41}

#botao-enviar:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.msg-container{
    border: solid 1px #7159c1;
    max-width: 300px;
    word-wrap: break-word;
    margin-top: 10px;
    background-color: white;
}
.msg-esquerda{
  margin-left: 10px;
  margin-right: 10px;
  width:300px;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 40px;
}
.msg-direita{
    width:300px;
    margin-left:auto; 
    margin-right:10px;
    margin-bottom: 20px;
    padding: 10px;
    border: solid 1px #7159c1;
    border-radius: 20px;
}
